@page "/reading"

@inject IGenerateReadingService _generateReadingService
@inject IWordStorage _wordStorage
@inject INavigationService _navigationService

<div style="display: flex; align-items: center;">

    <div style="
      width: 2px;
      height: 40px;
      background-color: blue;
      margin-right: 10px;"></div>

    <div style="
      font-size: 20px;
      opacity: 0.7;
      margin-right: 20px;
      display: flex;
      align-items: center;">
        阅读生成 ——使用AI生成阅读
    </div>
</div>

<div class="shim-lg"></div>

<div style="border-bottom: 1px solid rgba(0,0,0,0.2);"></div>

<div class="shim-lg"></div>

@if (_words.Count == 0)
{
    <div class="modal d-block position-relative" style="z-index: 2;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">没有单词</h5>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>先去背一些词，在来生成吧</p>
                </div>
                <div class="modal-footer">
                    <Button Color="Color.Secondary" Text="关闭" Icon="fa-solid fa-xmark"></Button>
                    <Button OnClick="GoTodayWord" Text="去背词" Icon="fa-solid fa-floppy-disk"></Button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h5>使用  @_wordsToReading  生成</h5>
    @if (!_isReadingAvailable)
    {
        <div @onclick="() => GenerateReading()" style="opacity: 0.7;">
            <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Button Color="Color.Primary">生成阅读</Button></div>
        </div>

        <div class="shim-2xs"></div>

    }
    else
    {
        @if (_isLoadingReading)
        {
            <div>
                <Spinner></Spinner>
            </div>
        }
        else
        {
            <div>
                <div class="card">
                    <div class="card-header">
                        <span class="card-type">AI生成阅读</span>
                    </div>
	                <div class="card-body">
		                @* <p class="card-text"> *@
                  @*           @(new MarkupString(_reading.Replace(Environment.NewLine, "<br />"))) *@
		                @* </p> *@
		                <p class="card-text">
			                @_paragraph[0]
		                </p>
		                <p class="card-text">
			                @_paragraph[1]
		                </p>
	                </div>
                </div>
            </div>
        }
    }

    <div class="shim-2xs"></div>

    @foreach (var word in _words)
    {
        <div>
            <Card>
                <BodyTemplate>
                    <div style="display: flex; align-items: center; justify-content: space-between;">

                        <div @onclick="() => OnClick(word)">
                            <span style="font-size: 1.2em;">@word.HeadWord</span>
                            <span style="opacity: 0.7; font-size: 1.2em;">@word.TranCN</span>
                            <div class="shim-2xs"></div>
                        </div>

                        <div style="display: flex; align-items: center;">
                            <div @onclick="() => addWord(word.HeadWord)"
                                 style="margin-right: 10px; font-size: 1.2em;">
                                <i class="fa-solid fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </BodyTemplate>
            </Card>
        </div>

        <div class="shim-xl"></div>
    }

}




